<div class="site-header">
  <div class="left">
    <a href="<%= themeConfig.domain %>">
      <img class="avatar" src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>" alt="" width="32px" height="32px">
    </a>
    <a href="<%= themeConfig.domain %>">
      <h1 class="site-title"><%= themeConfig.siteName %></h1>
    </a>
  </div>
  <div class="right">
    <div class="menu-container">
      <% menus.forEach(function(menu) { %>
        <% if (menu.openType === 'External') { %>
          <a href="<%= menu.link %>" class="menu" target="_blank">
            <%= menu.name %>
          </a>
        <% } else { %>
          <a href="<%= menu.link %>" class="menu">
            <%= menu.name %>
          </a>
        <% } %>
      <% }); %>
    </div>
  </div>
</div>